@use "./helpers/mixins" as *;
@use "./helpers/variable" as *;

.header {
	.item {
		display: grid;
		grid-template-columns: auto 1fr auto;
		align-items: center;
		gap: 14px;

		.back-btn,
		.close-btn {
			padding: 4px;
			cursor: pointer;

			img {
				@include imageSize(16px, 16px);
			}
		}

		.text {
			.name {
				font-size: 16px;
				font-weight: 700;
				color: $primary-color;
			}

			.participant {
				font-size: 12px;
				font-weight: 400;
				color: #333333;
				margin-top: 10px;
			}
		}
	}

	.line {
		height: 1px;
		width: 100%;
		background-color: $line-color;
		margin-top: 24px;
	}
}

.chat {
	height: 412px;
	overflow: auto;
	margin: {
		top: 10px;
		bottom: 18px;
	}
	position: relative;

	.tooltip {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: $stickers-1;
		color: $primary-color;
		font-size: 14px;
		font-weight: 700;
		padding: 10px;
		border-radius: 5px;
	}

	.loader-chat {
		flex-direction: row;
    justify-content: start;
    bottom: 0;
    transform: none;
    background-color: $stickers-1;
    padding: 16px;
    width: 100%;
    border-radius: 5px;

		.loader {
			width: 18.34px;
			height: 18.34px;
			border: 3px solid #f8f8f8;
			border-bottom-color: $primary-color;
			border-right-color: $primary-color;
		}
	}

	.barrier-wrapper {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		align-items: center;
		margin-bottom: 10px;
		margin-right: 5px;

		.line {
			height: 1px;
			width: 100%;
			background-color: $secondary-color;

			&.new-message {
				background-color: $indicator-color-3;
			}
		}

		.text {
			font-size: 14px;
			color: $secondary-color;
			text-align: center;
			font-weight: 700;
			margin: 0 16px;

			&.new-message {
				color: $indicator-color-3;
			}
		}
	}

	.bubble-chat-wrapper {
		font-size: 12px;
		margin-bottom: 16px;
		margin-right: 5px;

		&.right {
			text-align: right;
		}

		&.left {
			text-align: left;
		}

		.name {
			font-weight: 700;
			margin-bottom: 5px;

			&.admin {
				color: $name-chat-admin;
			}

			&.people-1 {
				color: $name-chat-1;
			}

			&.people-2 {
				color: $name-chat-2;
			}

			&.people {
				color: $primary-color;
			}
		}

		.bubble {
			display: flex;
			gap: 5px;

			&.right {
				justify-content: end;
			}

			&.left {
				justify-content: start;
			}

			.setting-action {
				position: absolute;
				top: 16px;
				text-align: left;
				background-color: white;
				border: 1px solid $line-color;
				width: 128px;
				border-radius: 5px;

				&.left {
					right: 0;
				}

				&.right {
					left: 0;
				}

				.edit {
					border-bottom: 1px solid $line-color;
					color: $primary-color;
				}

				.delete {
					color: $indicator-color-3;
				}

				.edit,
				.delete {
					padding: 11px;
					font-size: 14px;
				}
			}

			.action {
				@include centerAnything();
				width: 16px;
				height: 16px;
				cursor: pointer;
				position: relative;

				img {
					@include imageSize(10.67px, 2.67px);
				}
			}

			.text-wrapper {
				padding: 10px;
				border-radius: 5px;
				color: $secondary-color;
				max-width: 80%;

				&.admin {
					background-color: $bg-chat-admin;
				}

				&.people-1 {
					background-color: $bg-chat-1;
				}

				&.people-2 {
					background-color: $bg-chat-2;
				}

				&.people {
					background-color: #f8f8f8;
				}

				.message {
					margin-bottom: 10px;
					text-wrap: wrap;
					text-align: left;
				}

				.time {
					font-size: 12px;
					text-align: left;
				}
			}
		}
	}
}

.action-message {
	display: flex;
	gap: 10px;

	.input {
		flex-grow: 1;

		input {
			width: 100%;
			border: 1px solid #828282;
			border-radius: 5px;
			padding: 10px 16px;
		}

		::placeholder {
			color: #333333;
      font-size: 14px;
		}
	}
}
